@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  --color-slate-850: #151f32;
  --color-primary-500: #006CAF;
  --color-primary-600: #005a92;
  --color-primary-900: #003353;

  --background-image-grid-pattern: linear-gradient(to right, #e2e8f0 1px, transparent 1px), linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background-color: #cbd5e1; border-radius: 0px; }

/* Utilities */
.clip-slant { clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }

